.background {
  height: 100vh;
  width: 100%;
  background-image: url("imgs/boby.png");
  background-size: 1920px 1080px;
  background-position: center;
}

.Header {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  height: 150px;
  width: 100%;

&-logo {
  margin: 0 auto;
}

&-title {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
}
