.background {
  height: 100vh;
  width: 100%;
  background-image: url("imgs/boby.png");
<<<<<<< HEAD
  background-size: 100% 100%;
  background-repeat: round;
=======
  background-size: 1920px 1080px;
  background-position: center;
>>>>>>> f7ef8342358525007e508d5b9872e00793eed82c
}

.Header {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  height: 150px;
  width: 100%;

&-logo {
  margin: 0 auto;
}

&-title {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}
}
