.homestats {
  width: 90%;
  margin: 30px auto 0 auto;
  position: relative;
  z-index: 1;
  &-bgTitle {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      font-size: 64px;
      color: rgba( 0, 0, 0, 0.2);
      position: absolute;
      left: 15%;
      top: 9%;
    }
  }
  &-logo {
    margin: 20px auto 0px auto;
    width: 50px;
    height: 50px;
    @include for-size(tablet-portrait-up) {
      margin: 30px auto;
    }
  }
  &-reverse {
    @include for-size(tablet-portrait-up) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  &-travelyear {
    margin: 60px auto 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
    &::before, &::after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 200%;
      height: 9px;
      background: black;
      left: -50%;
      top: 50%;
      transform: RotateZ(-45deg);
      @include for-size(tablet-portrait-up) {
        display: none;
      }
    }
    &::after {
      top: 58%;
    }
    &-img {
      width: 220px;
      height: 330px;
      margin: 0 auto;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
      @include for-size(tablet-portrait-up) {
        width: 320px;
        height: 453px;
      }

    }
    &-text {
      font-size: 9px;
      line-height: 14px;
    }
  }
  &-firstArea {
    margin-top: 30px;
    text-align: center;
    font-size: 10px;
    @include for-size(tablet-portrait-up) {
      margin-top: 0px;
      text-align: left;
      font-size: 14px;
    }
    &-title {
      font-size: 18px;
      line-height: 24px;
      position: relative;
      margin-bottom: 12px;
      @include for-size(tablet-portrait-up) {
        font-size: 25px;
        margin: 20px 0;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #50E3C2;
        width: 60px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        top: 120%;
        @include for-size(tablet-portrait-up) {
          left: 10%;
        }
      }
    }
    &-firstPar {
      line-height: 15px;
      margin-bottom: 20px;
    }
    &-listItem {
      line-height: 18px;
      text-align: left;
    }
    &-deskTitle {
      display: none;
      @include for-size(tablet-portrait-up) {
        display: block;
        position: relative;
        font-size: 25px;
        margin-top: 20px;
        &::after {
          content: "";
          position: absolute;
          width: 60px;
          height: 1px;
          background: #50E3C2;
          left: 8%;
          top: 120%;
        }
      }
    }
    &-deskItem {
      display: none;
      @include for-size(tablet-portrait-up) {
        display: block;
        font-size: 14px;
        margin: 20px 0 0 60px;
      }
    }
  }
  &-travel {
    margin-top: 80px;
    text-align: center;
    position: relative;
    z-index: 1;
    &::before, &::after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 200%;
      height: 8px;
      background: black;
      left: -50%;
      top: 55%;
      transform: RotateZ(40deg);
      @include for-size(tablet-portrait-up) {
        display: none;
      }
    }
    &::after {
      top: 45%;
      @include for-size(tablet-portrait-up) {
        top: 110%;
      }
    }
    &-imgContainer {
      width: 50%;
      background: grey;
      align-items: center;
    }
    &-img {
      width: 250px;
      height: 175px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
      @include for-size(tablet-portrait-up) {
        width: 400px;
        height: 275px;
      }
      @include for-size(desktop-up) {
        width: 600px;
        height: 375px;
      }
    }
  }
  &-secondArea {
    margin-top: 70px;
    font-size: 10px;
    @include for-size(tablet-portrait-up) {
      margin-top: 100px;
      font-size: 14px;
    }
    &-title {
      font-size: 25px;
      line-height: 24px;
      text-align: center;
      position: relative;
      margin-bottom: 12px;
      @include for-size(tablet-portrait-up) {
        font-size: 25px;
        text-align: left;
      }
      &::after {
        content: "";
        position: absolute;
        background-color: #50E3C2;
        width: 60px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        top: 120%;
        @include for-size(tablet-portrait-up) {
          left: 8%;
        }
      }
    }
    &-secondPar {
      line-height: 15px;
      margin-bottom: 20px;
    }
    &-listItem {
      line-height: 18px;
    }
  }
}
