.menu {


    &-navigation  {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 30px;

  }

    &-liste {
      cursor: pointer;
      text-decoration: none;
      color: #fff;
  }

  // &-liste:hover {
  //   transform: scale(1.2);
  //   transition: 0.9s;
  // }
}
