@import './global/reset';
@import './global/variables';
@import './mixins/responsive';
@import './components/header';
@import './components/homeStats';
@import './components/menu';
@import './components/chiffre';
@import './components/footer';
<<<<<<< HEAD
@import './components/contactDesktop';
@import './components/top100';
=======
@import './components/contact';
@import './components/partners.scss';
>>>>>>> f7ef8342358525007e508d5b9872e00793eed82c

body {
  width: 100%;
  background-color: #fefefe;
}

* {
  box-sizing: border-box;
}

.siteContent {
  width: 100%;
  background: #fefefe;
  overflow-x: hidden;
}
}
