@import './global/reset';
@import './global/variables';
@import './mixins/responsive';
@import './components/header';
@import './components/homeStats.scss';
@import './components/footer';

body {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.siteContent {
  width: 100%;
  background: #fefefe;
  overflow-x: hidden;

body {
  background-color: #fff;
}
